.historyDisplayContainer{
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    width: 100%;
    border-radius: 24px;
    padding: 15px 20px;
    background-color: var(--history-container);
}

.noRecord{
    display: flex;
    width: 100%;
    justify-content: center;
}