/* Main stylesheet for the structure all pages (skeleton) */
body {
  background-image: var(--background-img);
  background-position: center;
  z-index: 0;
}

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
}
