/* Master stylesheet for specifying root style to project */

:root {
  --default-font: "Noto Sans";
  --default-font-size: 16px;
  --text-color: #000000;
  --history-btn-background: #FFFFFF;
  --history-btn-icon : #5e5d5d;
  --history-btn-icon-border-color : #FFFFFF;
  --weather-display-container-border-color: #FFFFFF;
  --weather-display-today-temperature: #6C40B5;
  --location-color: #666666;
  --component-container: rgba(255, 255, 255, 0.2);
  --history-container: rgba(255, 255, 255, 0.2);
  --history-record: rgba(255, 255, 255, 0.4);
  --background-img-light: url("assets/bg-light.png");
  --background-img-dark: url("assets/bg-dark.png");
  --cloud: url("assets/cloud.png");
  --sun: url("assets/sun.png");
}

/* Overall CSS */

* {
  font-family: var(--default-font);
  font-size: var(--default-font-size);
  outline: none;
  padding: 0;
}
*::after {
  margin: 0;
  padding: 0;
}
*::before {
  margin: 0;
  padding: 0;
}

/* Loading screen during fallback */
#preloader {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  position: fixed;
  z-index: 99999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color) !important;
}
